body{
    background-image: url(../images/pexels-wouter-de-jong-571169.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.logo{
    position: relative;
    top: 50;
    margin-top: 25vh;
    width: 50%;
    max-width: 50rem;

}

.card{
    border: none;
}

.footer{
    margin-top: 50rem;
}
