
/* TITLE */
h2{
    font-size: 5rem;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}
.photoh2 h2{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: 25%;
}
.photoh2 h2{
    cursor: default;
}
/* MEDIA Q */
@media (min-width:769px){
    h2{
        font-size: 10rem;
    }
}

/* BUTTON */
.btn{
    border: 0.125em solid #F0F0F0;
    overflow: hidden;
    box-shadow: 1em -0.5em 16px #e8e8e8;
    transition: all ease-in-out;
}
.btn:hover{
 transform: scale(1.1);
}

/* if a black border is active when we mousedown on the btn its because there wasn't this css class ->  */
.btn:active, .btn:focus{ 
 border: none;
}

