
h2{
    font-size: 5rem;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}
@media (min-width:769px){
    h2{
        font-size: 10rem;
        margin-bottom: 20rem;
    }
}
@media (min-width:850px) {
    h2{
        margin-bottom: 10rem;
    }
}
/* BORDER */
.maincontent{
    height: 100vh;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    height: max-content;

}
@media (min-width:770px){ 
 .maincontent{
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    overflow: hidden;
    width: 50vh;
    height: max-content;
}
}

@media (min-width:500px) {
    .small_screen{
display: none;
    }
}
.small_screen .card{
    margin-top: 1rem;
}

.card{

    transition: all .5s ease-in-out;
}
/* .card:hover{
    transform: scale(1.05);

} */

.pricetitle h2:hover{
    cursor: default;
}
.pricetitle h2 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: 25%;

}