
h2{
    font-size: 5rem;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}

@media (min-width:769px){
    h2{
        font-size: 10rem;
        margin-bottom: 20rem;
        
    }.pricetitle h2:hover{
        cursor: default;
    }
    .pricetitle h2 {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom-right-radius: 25%;
    
    }
}
@media (min-width:850px) {
    h2{
        margin-bottom: 10rem;
    }
}
/* BORDER */
.maincontent{
    height: 100vh;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    height: max-content;
}
.card{
    margin-top: 1rem;
    min-width: 100%;
    transition: all .5s ease-in-out; 
}

/* MEDIA */

@media (min-width : 700px){
    .slides-container{
        display: flex;
        justify-content: start;
        overflow: scroll;
        scroll-behavior: smooth;
        padding: 0;
        margin: 0;
        width: 100%;
        transition: all .5s ease;
    }
    .maincontent{
        border: 1px solid rgba(0, 0, 0, 0.1);
        width: 60vh;
        height: max-content;
        display: flex;
    }
}
/*SLIDE ARROW */

@media (max-width:500px) {
    .btn-next,.btn-prev{
        display: none;
    }
}
.slide-arrow{
    margin: auto;
    height: 4rem;
    border: none;
    width: 2rem;
    font-size: 4.1rem;
    padding: 0;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 100ms;
}
.slide-arrow:hover,
.slide-arrow:focus {
    opacity: 1;
}
#slide-arrow-prev{
    padding-left: 0.25rem;
    border-radius: 0 2rem 2rem 0;
}